/* Small devices (phones) */
@media (max-width: 576px) {
  .orders {
    .data {
      .mainTabs {
        gap: 8px !important;
        width: 100% !important;
        .nav-link {
          font-size: 14px !important;
        }
      }
    }
  }
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 991px) {
  .orders {
    .data {
      .mainTabs {
        gap: 8px !important;
        width: 100% !important;
        .nav-link {
          font-size: 14px !important;
        }
      }
    }
  }
}
